.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  outline: 1px solid rebeccapurple;
  outline-offset: -2px;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}
